html
    title #{first_name}'s CV Site
    head
        meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no")
        meta(charset="UTF-8")
        block scripts
            link(rel="stylesheet" type="text/css"  href="styles.css")
            link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
            script(src='https://code.jquery.com/jquery-3.3.1.min.js', integrity='sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=', crossorigin='anonymous')
            script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js', integrity='sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1', crossorigin='anonymous')
            script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js', integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM', crossorigin='anonymous')
    body
        block content
            nav(class="navbar navbar-expand-lg navbar-dark bg-dark static-top")
                div(class="container")
                    a(class="navbar-brand" href="/") #{first_name} #{last_name}'s CV
                    button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation")
                        span(class="navbar-toggler-icon")
                    div(class="collapse navbar-collapse" id="navbarResponsive")
                        ul(class="navbar-nav ml-auto")
                            li(class="nav-item active")
                                a(class="nav-link" href="/") Home
                            li(class="nav-item active")
                                a(class="nav-link" href="/resume") Resume    
                            li(class="nav-item active")
                                a(class="nav-link" href="/data") Data
                                
                                   
            .background
            header(class="masterhead")
                div(class="container h-100")
                    div(class="row h-100 align-items-center")
                        div(class="col-12 text-center")
                            img(src="ralf.jpg" alt="..." class="circle profile-pic")
                            h1(class="font-weight-light text-white")  #{first_name} #{last_name}
                            p(class="lead text-white") #{headline}
                            p(class="lead text-white")
                                a(href=links.linkedin)
                                    img( id="social-media-icon" src="linkedin-icon.png") 
                                a(href=links.github)
                                    img( id="social-media-icon" src="github-icon.png")
                                    p() 
                                a(class="btn btn-info" href="/resume") Resume


        block foot
            footer(class="fot page-footer font-small bg-dark fixed-bottom")
                div(class="footer-copyright text-center py-3 text-white font-weight-light") &copy; 2019 Jonathan Poyti Stang og Ralf Laurent Fajardo
